In [4]:
def maxx(a,b,c) :
    if (a>b and a>c) or a == b or a == c:
        return a
    elif (b>c) :
        return b
    else :
        return c

In [5]:
x = max(5,7,2)
print(x , ' is max')

7  is max

In [38]:
def pattern():
    for i in range(1, 6) :
        print(' '*(5-i) +' *'*(i))
        i += 1

#list [] add sum function

In [39]:
pattern()

     *
    * *
   * * *
  * * * *
 * * * * *

In [40]:
def sum_list(x) :
    _sum = 0
    for i in x :
        _sum += i
    return _sum

In [56]:
def mysum(num):
    s = 0
    for var in num:
        s += var
        yield s

In [57]:
b = mysum(l)

In [53]:
for var in b:
    print(var)

5
8
13
15
21
28

In [58]:
print(*b)

5 8 13 15 21 28

In [41]:
l=[5,3,5,2,6,7]
sum_list(l)

28

In [42]:
def mult_table (a):
    for i in range (1,11) :
        print(a , ' *', i, ' = ', a*i)

In [43]:
mult_table(25)

25  * 1  =  25
25  * 2  =  50
25  * 3  =  75
25  * 4  =  100
25  * 5  =  125
25  * 6  =  150
25  * 7  =  175
25  * 8  =  200
25  * 9  =  225
25  * 10  =  250

In [59]:
def _sumoflist(x) :
    s = 0
    for i in x :
        s += i
        yield s

In [62]:
a= _sumoflist([1,3,4,5,3,5,6,4])
print(*a)

1 4 8 13 16 21 27 31

In [67]:
def _sq() :
    for i in range(1,11) :
        s= i**2
        yield s

In [68]:
q = _sq()
print(*q)

1 4 9 16 25 36 49 64 81 100

In [1]:
'''def del_itms_from_list(seq,item) :
    for i in seq :
        if i == item :
            seq.remove(item)
            print('current list :\n',*seq)
        
    return seq'''
def del_items(seq, item) :
    for i in seq :
        if(item in seq) :
            seq.remove(item)
    return seq

In [16]:
l=[1, 5, 50, 5, 45, 12, 50, 50, 50, 50, 21, 61, 50, 32, 50, 63, 45, 7, 50, 50, 50, 50, 50, 50]
del_(l,50)

current list :
 1 5 5 45 12 50 50 50 50 21 61 50 32 50 63 45 7 50 50 50 50 50 50
current list :
 1 5 5 45 12 50 50 50 21 61 50 32 50 63 45 7 50 50 50 50 50 50
current list :
 1 5 5 45 12 50 50 21 61 50 32 50 63 45 7 50 50 50 50 50 50
current list :
 1 5 5 45 12 50 21 61 50 32 50 63 45 7 50 50 50 50 50 50
current list :
 1 5 5 45 12 21 61 50 32 50 63 45 7 50 50 50 50 50 50
current list :
 1 5 5 45 12 21 61 32 50 63 45 7 50 50 50 50 50 50
current list :
 1 5 5 45 12 21 61 32 63 45 7 50 50 50 50 50 50
current list :
 1 5 5 45 12 21 61 32 63 45 7 50 50 50 50 50

[1, 5, 5, 45, 12, 21, 61, 32, 63, 45, 7, 50, 50, 50, 50, 50]

In [18]:
def del_items(s,it) :
    x = s.count(it)
    print(x)
    for i in range(0, x):
        s.remove(it)
    print(*s)

l=[1, 5, 50, 5, 45, 12, 50, 50, 50, 50, 21, 61, 50, 32, 50, 63, 45, 7, 50, 50, 50, 50, 50, 50]
del_items(l,50)

13
1 5 5 45 12 21 61 32 63 45 7

In [32]:
x = 'banana'
def count_a(st, a) :
    x = st.count(a)
    print('number of characters : ', x)
    print(st)
    #print(' ', end = '')
    for i in range(len(st)) :
        if st[i] == a :
            print('^', end = '')
        else :
            print(' ', end = '')

count_a(x, 'a')

number of characters :  3
banana
 ^ ^ ^

In [34]:
for i in range(5) :
    print('akkad bakkad bambe bo', end= ':)', sep =' ')

akkad bakkad bambe bo:)akkad bakkad bambe bo:)akkad bakkad bambe bo:)akkad bakkad bambe bo:)akkad bakkad bambe bo:)

In [36]:
def _sum(x, y = 0, z = 0) :
    print(x+y+z)

_sum(5,6,7)
#_sum(6,7,y=5)
_sum()

18

TypeError: _sum() got multiple values for argument 'y'

In [41]:
def shape(*arg) :
    print(arg)
    if arg == None :
        print('ek input nai daal saka')
    else:
        for i in arg :
            if i == 1 :
                print('line')
            elif i == 2 :
                print('parallel line')
            elif i == 3 :
                print('traingle')
            elif i == 4 :
                print('square and rectangle')
            elif i == 5 :
                print('pentagon')
            else :
                print('a poloygon')
    return 

x= [4, 5, 6, 7, 1, 2, 3]
shape(*x)
shape()

(4, 5, 6, 7, 1, 2, 3)
square and rectangle
pentagon
a poloygon
a poloygon
line
parallel line
traingle
()

# anonymus function

In [2]:
l = [1,2,3,3,4,5,5]
t = list(map(lambda x : x*x, l))
print(*t)

1 4 9 9 16 25 25

In [4]:
p = [1,5,12,45,5,4,6,7,8]
eve = list(map (lambda x : 'even' if x%2 == 0 else 'odd', p))
eve

['odd', 'odd', 'even', 'odd', 'odd', 'even', 'even', 'odd', 'even']

In [18]:
_max = lambda a,b : 'a greater' if a>b else 'b greater'

In [21]:
_max(12,10)

'a greater'

In [23]:
_m = lambda a,b,c : 'a max ' if (a>b and a>c) if b>c 'b is max'  else 'c is max'

SyntaxError: invalid syntax (<ipython-input-23-ec654e92e7fd>, line 1)

In [26]:
greatest = lambda a,b,c : 'a is max' if (a>=b and a>=c) else ('b is max' if b >= c else 'c is max')

In [27]:
greatest(4,6,3)

'b is max'

In [36]:
l = [4,3,45,7,20,22]
e = list(filter(lambda x :  x%2==0, l ))
e

[4, 20, 22]

In [28]:
t = list(map(lambda x : x*x, map(int,input('enter numbers with space as seperation : ').split())))

enter numbers with space as seperation : 1 2 3 4 5 6 7 8 9 10

In [29]:
t

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [38]:
from functools import reduce

In [40]:
mysum = reduce(lambda x,y : x+y, t)
mysum

385

In [41]:
mult = reduce(lambda x,y : x*y, t)

In [42]:
mult

13168189440000

# Recursive function

In [1]:
def fact(num) :
    if num == 1 :
        return 1
    else :
        return num * fact(num-1)

fact(5)

120

In [3]:
li = list(map(lambda x : x, map(int,input('enter multiple numbers : ').split())))
li

enter multiple numbers : 1 2 3 45 6 4 51 6

[1, 2, 3, 45, 6, 4, 51, 6]

In [5]:
print(*li, sep = '\n')

1
2
3
45
6
4
51
6