# Class :

In [11]:
class Employee :
    empcount = 0
    
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
        Employee.empcount+=1
        print(Employee.empcount)
    def disp_count() :
        print('Total number of Employees are : ', Employee.empcount)
    def disp_emp(self) :
        print('Name : ', self.name, '\n Salary :', self.salary)

        
emp1 = Employee("Zara", 2000)
emp2 = Employee("Manni", 5000)
emp3 = Employee('Mohit', 20000)
emp4 = Employee('shahil', 20000)

emp1.disp_emp()
emp2.disp_emp()
emp3.disp_emp()
emp4.disp_emp()
Employee.disp_count()

1
2
3
4
Name :  Zara
 Salary : 2000
Name :  Manni
 Salary : 5000
Name :  Mohit
 Salary : 20000
Name :  shahil
 Salary : 20000
Total number of Employees are :  4

NameError: name 'emp1' is not defined